.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}
/* react quill rich text editor toolbar */
.ql-toolbar.ql-snow {
  display: block;
  background:whitesmoke;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0em 0em 0.12em 0.1em #f40000
}
/* react quill rich text editor container */
.ql-container.ql-snow {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0em 0.08em 0.12em 0.1em #f40000;
}
